* {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	 box-sizing: border-box;
 	 margin: 0;
 	 padding: 0;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */

}

*::-webkit-scrollbar {
	display: none;
}

body{
	font-family: 'Open Sans', sans-serif;
	background: url('img/KTW.png') no-repeat fixed;
	background-size: cover;
	margin: auto;

	
}


h3{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: left;
	color: white;
	text-shadow: 0 0 5px #00FFFB, 0 0 10px #000000;
}

h2{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	color: white;
	text-shadow: 0 0 10px #00FFFB, 0 0 10px #000000;
}

h1{
	margin-left: 15px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	color: white;
	text-shadow: 0 0 10px #00FFFB, 0 0 10px #000000;
}

p{
	margin-left: 15px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	color: white;
	text-shadow: 0 0 5px #00FFFB, 0 0 10px #000000;	
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}



/* ----------Boutons de navigation----------------------------- */

.nav {
	left: 30%;
	
	position: fixed;
  	font-family: 'Titillium Web';
  	text-transform: uppercase;
 	text-align: center;
 	font-weight: 600;
	font-size: 24px;
	text-shadow: 0 0 15px #00FFFB;
	transition: top 0.7s;
}

.nav * {
  	box-sizing: border-box;
  	transition: all .35s ease;
}

.nav li {
	
  	display: inline-block;
  	list-style: outside none none;
  	margin: .5em 1em;
  	paddin: 0;
}

.nav a {
  	padding: .5em .8em;
  	color: white;
  	position: relative;
	text-shadow: 0 0 20px #0FEBE7, 0 0 40px #000000;
  	text-decoration: none;
	 
}

.nav a::before,
.nav a::after {
  	content: '';
  	height: 14px;
  	width: 14px;
  	position: absolute;
  	transition: all .35s ease;
  	opacity: 0;
}

.nav a::before {
  	content: '';
  	right: 0;
  	top: 0;
  	border-top: 3px solid #19C3C0;
  	border-right: 3px solid #0FEBE7;
  	transform: translate(-100%, 50%);
}

.nav a:after {
  	content: '';
  	left: 0;
  	bottom: 0;
  	border-bottom: 3px solid #19C3C0;
  	border-left: 3px solid #0FEBE7;
  	transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  	transform: translate(0,0);
  	opacity: 1;
}

.nav a:hover {
  	color: #0FEBE7;
}
.table{
	
	display: table;
	margin: 0 auto;
	padding-top: 5%;
}


/* ----------Boutons KT----------------------------- */


button{
	
	background-color: RGBa(000, 000, 000, 0.0);
	border: none
}


.but1 img {
  	position:absolute;
  	top: 50%;
  	left:50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	width: 600px;
	height: 600px;
}

.but1:hover{
	position:absolute;
  	top: 50%;
 	left:50%;
 	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
	transform: scale(1.11)
	}

.but2 img {
	
	position:fixed;
	top: 15%;
	left: 10%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
}

.but2:hover{
	position:fixed;
	top: 15%;
	left: 10%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	transform: scale(1.11)
	}





/* ---------------Divs des pages vides----------------------------- */

.pg{
	display: inline-block;
	position:absolute;
  	top: 50%;
  	left:50%;
	transform: translate(-50%, -50%);
	background-color: RGBa(000, 000, 000, 0.8);
}

.pg::before, .pg::after {
  	content: '';
  	height: 25px;
  	width: 25px;
  	position: absolute;
}
.pg::before {
   	content: '';
  	right: 0;
  	top: 0;
  	border-top: 3px solid #19C3C0;
  	border-right: 3px solid #0FEBE7;
  	
}
.pg::after {
	content: '';
  	left: 0;
  	bottom: 0;
  	border-bottom: 3px solid #19C3C0;
  	border-left: 3px solid #0FEBE7;	
}






/* ----------page artwork----------------------------- */

.artwork{
	border: solid white 0px;
	top: 30%;
	left: 20%;
	width: 60%;
	position: absolute;
}

.infart{
	border: solid white 0px;
	float: left;
	height: 100%;
	width: 45%;
	margin: 2.5%;
	
}

.info{
	 
	width: 45%;
	margin-top: 11%;
	float: left;
	background-color: RGBa(000, 000, 000, 0.8);
}

.artist{
	border: solid white 0px;
	
	display: block;
	float: left;
	
	height: 100%;
	width: 55%;
	transform: translate(-0%, -0%);
	
  	background-color: RGBa(000, 000, 000, 0.8);
}

.artist::before, .artist::after {
  	content: '';
  	height: 25px;
  	width: 25px;
  	position: absolute;
}
.artist::before {
   	content: '';
  	right: 0;
  	top: 0;
  	border-top: 3px solid #19C3C0;
  	border-right: 3px solid #0FEBE7;
  	
}
.artist::after {
	content: '';
  	left: 0;
  	bottom: 0;
  	border-bottom: 3px solid #19C3C0;
  	border-left: 3px solid #0FEBE7;	
}




/* ---------------Profils--------------------------- */

.avatar{
	width: 90%;
	height: 250px;
  	object-fit: cover;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.probk{							/* div de fond*/
	
	position: absolute;
	width: 35%;
	top: 25%;
	left: 31%;
	border: solid white 0px;
}

.probkL{
	border: solid white 0px;
	position: fixed;
	left: 10%;
	top: 25%;
	width: 19%;
}

.probkR{
	top: 25%;
	left: 68%;
	right: 10%;
	position: fixed;
	float: right;
	border: solid white 0px;
}						 		/* --------*/




.profil{							/* innerdiv L+R */
	border: solid white 0px;
	padding: 1% 1%;
	transform: translate(-0%, -0%);
	margin-bottom: 5%;
  	background-color: RGBa(000, 000, 000, 0.8);
}

.profil::before, .profil::after {
  	content: '';
  	height: 25px;
  	width: 25px;
  	position: absolute;
}
.profil::before {
   	content: '';
  	right: 0;
  	top: 0;
  	border-top: 3px solid #19C3C0;
  	border-right: 3px solid #0FEBE7;
  	
}
.profil::after {
	content: '';
  	left: 0;
  	bottom: 0;
  	border-bottom: 3px solid #19C3C0;
  	border-left: 3px solid #0FEBE7;	
}											/* --------*/





.profil2{							/* Inner div centre*/
	margin-bottom: 5%;
	text-align: center;
	float: left;
	display: block;
	transform: translate(-0%, -0%);
	width: 100%;
	
  	background-color: RGBa(000, 000, 000, 0.8);
}

.profil2::before, .profil2::after {
  	content: '';
  	height: 25px;
  	width: 25px;
  	position: absolute;
}
.profil2::before {
   	content: '';
  	right: 0;
  	top: 0;
  	border-top: 3px solid #19C3C0;
  	border-right: 3px solid #0FEBE7;
  	
}
.profil2::after {
	content: '';
  	left: 0;
  	bottom: 0;
  	border-bottom: 3px solid #19C3C0;
  	border-left: 3px solid #0FEBE7;	
}									/* --------*/









.smd{					/* Boutons réseaux sociaux*/
	height: 45px;
	border: solid white 0px;
	margin: 3%;
	
}

.sm{
	margin-left: 2%;
	border: solid white 0px;
	float: left;
}



.linksm{
	border: solid white 0px;
	margin-left: 3%;
	color: white;
	text-decoration: none;
}

.linksm::hover{
	margin-left: 3%;
	text-color: #0FEBE7;
}








/* ------------------------------------------------------ */



